# Alocação e Otimização de Portfólios

## Definição de pesos para as ações.

### Alocação de Ativos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df = pd.read_csv('acoes.csv')

In [3]:
df.head(4)

         Date    GOL    CVC       WEG      MGLU       TOTS       BOVA
0  2015-01-02  14.99  15.20  5.923076  0.232812  11.910702  47.259998
1  2015-01-05  14.85  15.00  5.963461  0.237187  11.544731  46.320000
2  2015-01-06  15.21  14.80  5.875000  0.234062  10.822770  46.580002
3  2015-01-07  14.55  14.67  5.807692  0.241875  10.746248  48.150002

In [9]:
## definir aleatoriamente quanto de dinheiro será investido em cada empresa.

## no final faz uma normalização dos pesos gerados para que a soma não ultrapasse 1.

## normalizando o dataset conforme já fizemos anteriormente

def alocacao_ativos(df, dinheiro_total):
    df = df.copy()
    
    pesos = np.random.random(len(df.columns)-1)
    pesos = pesos/pesos.sum()
    
    print(pesos, pesos.sum())
    
    colunas = df.columns[1:]
    for i in colunas:
        df[i] = (df[i]/df[i][0])
        
    for i, acao in enumerate(df.columns[1:]):
        df[acao] = df[acao] * pesos[i] * dinheiro_total
        
    df['soma valor'] = df.sum(axis=1)
    
    return df

In [10]:
alocacao_ativos(pd.read_csv('acoes.csv'), 5000)

[0.1443659  0.19801164 0.1234828  0.23705965 0.04943715 0.24764287] 1.0

,Date,GOL,CVC,WEG,MGLU,TOTS,BOVA,soma valor
0,2015-01-02,721.829491,990.058181,617.413999,1185.298268,247.185732,1238.214329,5000.000000
1,2015-01-05,715.087950,977.031112,621.623657,1207.572356,239.590654,1213.586317,4974.492046
2,2015-01-06,732.423399,964.004043,612.402602,1191.662293,224.607619,1220.398386,4945.498342
3,2015-01-07,700.641720,955.536432,605.386506,1231.439992,223.019541,1261.532457,4977.556649
4,2015-01-08,687.158594,921.665991,615.609910,1221.893954,228.198016,1270.964391,4945.490856
...,...,...,...,...,...,...,...,...
1688,2021-10-25,828.250032,1182.207620,4122.642116,62825.716318,692.743398,2739.215328,72390.774813
1689,2021-10-26,779.132859,1101.439730,4134.108441,60992.872239,693.158473,2678.955133,70379.666875
1690,2021-10-27,765.168181,1080.596420,4086.158716,59058.211041,689.007807,2682.885181,68362.027345
1691,2021-10-28,757.945043,1076.688330,3943.351752,56767.155942,682.989347,2635.987067,65864.117480
1692,2021-10-29,730.978790,1040.212474,3856.833407,55036.143547,679.876328,2611.621012,63955.665557